<div class="jumbotron">
    <div class="container">
        <h1>IOST Notification Center</h1>
        <button class="btn btn-info" id="btnSubscribe" disabled><i class="fa fa-bell"></i> Subscribe</button>
        <div id="notices" class="mt-2">

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="javascript/subscribe.js"></script>